name: Generated Files

on:
  pull_request:
    branches:
      - 'main'

permissions:
  contents: write

jobs:
  create-files:
    name: Create Files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - run: python build_readme.py
      - run: python build_list.py
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add filelist.json
          git add README.md
          git commit -m "Automated file generation"
          git push
